.Footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: palevioletred;
    position: fixed;
    /* background-color: whitesmoke; */
    bottom: 0;
    width: 100vw;
}

.connect 
{
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    
}
.connect .face
{
    fill: aqua;
    width: 100px;
    height: 40px;
}
